<configuration>

    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashSocketAppender">
        <syslogHost>logstash</syslogHost>>
        <port>1514</port>
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
    </appender>

    <root level="debug">
        <appender-ref ref="LOGSTASH" />
    </root>
</configuration>